<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="static/home/css/bootstrap.min.css">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="static/home/css/font-awesome/css/font-awesome.min.css">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="static/home/css/style.css" id="theme-styles">

    <!--[if lt IE 9]>
        <script src="static/home/js/respond.js"></script>
    <![endif]-->

</head>
<body>
    {% include 'common/header.html' %}

    {% block content %}

    {% endblock %}

    {% include 'common/footer.html' %}
    <script src="static/home/js/jquery.min.js"></script>
    <script src="static/home/js/bootstrap.min.js"></script>
    <script src="static/home/js/modernizr.js"></script>

</body>
</html>